[submodule "services/blog-frontend"]
	path = services/blog-frontend
	url = git@github.com:tult98/blog-frontend.git
[submodule "services/blog-api"]
	path = services/blog-api
	url = git@github.com:tult98/blog-api.git
